body {
    margin: 0;
};

header {
    padding: 15px;
    background-color: aqua;
};

.location { 
    width: 100%;
    position: relative;
    &__select {
        background-color: aquamarine;
        position: absolute;
        padding: 15px;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
    };
    &__img {
        width: 100%;
    };
}